/* global rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "circle";
  overflow-x: hidden;
  background-color: #fff7dd;
}

.heronavbar {
  background-image: url(../imgs/header.svg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* start navbar */
.navbar {
  position: sticky;
  padding: 15px;
}
.navbar-all {
  background-image: url(../imgs/greenHeader.svg);
  padding-bottom: 4rem;
}
.navbar .navbar-nav {
  gap: 3rem;
  margin-left: 4rem;
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  font-family: circle;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: #e55451;
}
.search-box {
  background: #ffffff;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  width: 300px;
  margin-right: 6rem;
}
.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  padding: 5px;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  left: -250px;
  background-image: url(../imgs/header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: left 0.3s ease-in-out;
  z-index: 9999;
  padding: 20px;
}
.sidebar.show-sidebar {
  left: 0;
}
.sidebar-content {
  text-align: center;
  padding-top: 20px;
}
.sidebar-logo {
  width: 100px;
  margin-bottom: 20px;
}
.nav-links {
  list-style: none;
  padding: 0;
}
.nav-links li {
  margin-bottom: 15px;
}
.nav-links li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  display: block;
}
.menu-toggle {
  color: #ffffff;
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10000;
}
.close-sidebar {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
}
.nav-header2 {
  height: 80px;
  background-color: #29cea3;
}
.nav-header-logo {
  position: absolute;
  left: 40px;
  top: 20px;
  width: 30%;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .nav-header2,
  .nav-header-logo {
    display: none;
  }
}
@media (max-width: 1200px) {
  .navbar {
    display: flex;
  }
  .sidebar {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar {
    display: none;
  }
  .heronavbar {
    background: none;
    height: 450px;
  }
  .sidebar {
    display: block;
    top: 0px;
  }
  .nav-header2,
  .nav-header-logo {
    display: block;
  }
}
/* End navbar */
/* **************************************************************************************************************/

/* Start home page */
/* Start hero */
.hero h1 {
  position: absolute;
  top: 50%;
  display: flex;
  float: right;
  font-size: 77px;
  font-weight: bold;
  color: white;
}
@media (max-width: 767px) {
  .hero h1 {
    top: 20%;
    bottom: 0;
    display: flex;
    line-height: 1.5;
    font-size: 60px;
    font-family: VIP Hala;
    color: #e55451;
  }
}
/* End hero */

/* Start section two */
.intro {
  margin-top: 7rem;
}
.intro .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content h2 {
  color: #e55451;
  font-size: 50px;
  font-weight: bold;
  font-family: VIP Hala;
  line-height: normal;
}
.icon {
  width: 50px;
  height: auto;
  flex-shrink: 0;
  vertical-align: middle;
  margin-right: 5px;
}
.content p {
  font-size: 35px;
  font-weight: lighter;
  line-height: 1.5;
}
.content button {
  background-color: #e55451;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 8px; /* المسافة بين السهم والنص */
  direction: rtl; /* جعل الاتجاه من اليمين إلى اليسار */
  transition: background 0.3s ease;
}
.content button:hover {
  background-color: #ffc33e;
}
.frame {
  margin-top: 2rem;
}
.frame-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.Maincharacter {
  width: 100%;
  max-width: 400px;
  height: auto;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
@media (max-width: 767px) {
  .intro .row {
    flex-direction: column-reverse;
  }
  .frame {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0;
    margin-bottom: 5rem;
  }
  .Maincharacter {
    bottom: 10px;
    left: 50%;
  }
  .frame-img {
    left: 40%;
    max-width: 90%;
    height: auto;
    position: relative;
    top: 0;
  }
}
/* End section two */

/* Start swiper section */
.featureStories {
  margin: 0;
  padding: 0;
}
.swiper {
  width: 100vw;
  margin: 0;
  padding: 0;
}
.swiper-wrapper {
  padding: 0 !important;
}
.title {
  font-family: VIP Hala;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  color: #e55451;
  display: flex;
  margin-bottom: 3rem;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 49%;
  width: 17%;
  height: 13px;
  background-color: #ffc33e;
  opacity: 0.7;
  z-index: -1;
  transform: translateX(-50%);
}
.swiper {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide {
  flex: 0 1 calc(50% - 20px);
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .swiper-slide {
    flex: 0 1 100%;
  }
}
.story-card {
  background: #fffbe8;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 280px;
  height: 100%;
  margin-bottom: 2rem;
}
.story-card img {
  width: 80px;
}
.featureStories h3 {
  color: #e55451;
  font-size: 18px;
  font-family: circle;
  font-weight: 400;
  margin: 20px 0;
}
.featureStories p {
  font-size: 14px;
  font-family: circle;
  font-weight: lighter;
  color: #4c4c4c;
  margin-bottom: 20px;
}
.rating {
  color: #ffc33e;
  font-size: 16px;
  margin-bottom: 20px;
}
.watch-btn {
  background: none;
  color: #29cea3;
  border-color: #e55451;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}
.watch-btn:hover {
  background: #29cea3;
  color: white;
  border: none;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #d9534f;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.swiper-pagination-bullet-active {
  width: 18px;
  height: 18px;
  background: #d9534f;
  opacity: 1;
  transform: scale(1.2);
}
/* End swiper section */

/* Start section four */
.reviews {
  background-image: url(../imgs/whiteSection.svg);
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
.reviews .heading {
  font-family: VIP Hala;
  font-size: 30px;
  font-weight: bold;
  color: #e55451;
  padding-top: 5.5rem;
}
@media (max-width: 768px) {
  .reviews {
    background-repeat: no-repeat;
  }
}
/* End section four */

/* Start section five */
.sharingphoto .heading {
  font-family: VIP Hala;
  font-size: 30px;
  font-weight: bold;
  color: #e55451;
}
.sharingphoto .content p {
  color: #211c18;
  font-size: 35px;
  font-weight: lighter;
  line-height: 1.5;
  margin-top: 3rem;
}
.sharingphoto .content a {
  color: white;
  font-size: 16px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 3rem;
  align-items: center;
  transition: background 0.3s ease;
}
.sharingphoto .content i {
  font-size: 20px;
}
.photoframe .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 450px;
  margin: auto;
}
.grid-item {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .photoframe .container {
    margin-top: 3rem;
  }
}
/* End section five */
/* End home page */
/* **************************************************************************************************************/

/* Start view story page */
/* Start section one */
.story h2 {
  color: #e55451;
  font-family: VIP Hala;
  font-size: 40px;
  font-weight: bold;
  font-family: VIP Hala;
  line-height: normal;
}
.story h2 img {
  width: 45px;
  height: 45px;
  margin-top: -26px;
  margin-right: -7px;
}
.story p {
  color: #211c18;
  font-family: Circle;
  font-size: 30px;
  font-weight: 100;
  line-height: 1.5;
  margin-top: 2rem;
}
.video-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  margin-top: 4rem;
}
.video-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.5);
  border-radius: 10px;
  pointer-events: none;
}
.video-container video {
  width: 100%;
  border-radius: 10px;
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e55451;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
/* End section one */

/* Start section two */
.quesions form label {
  color: #211c18;
  margin-bottom: 1.5rem;
  font-family: circle;
  font-size: 22px;
}
.quesions form .form-control {
  background-color: white;
  border-radius: 10px 0px;
  border: 0.5px solid #e55451;
  height: 60px;
}
textarea .form-control {
  height: 100px;
  resize: none;
}
.quesions form a {
  text-decoration: none;
}
.quesions form button {
  background-color: #e55451;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 8px;
  direction: rtl;
  transition: background 0.3s ease;
}
.quesions form button:hover {
  background-color: #ffc33e;
}
.form-group {
  margin-bottom: 15px;
  text-align: right;
}
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff8dc;
}
/* End section two */
.girl-img {
  max-width: 70%;
  height: auto;
}
@media (max-width: 768px) {
  .girl-img {
    max-width: 50%;
  }
}

/* Start section three */
/* .intro .content h2 ::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 49%;
  width: 23%;
  height: 13px;
  background-color: #ffc33e;
  opacity: 0.7;
  z-index: -1;
  transform: translateX(-50%);
} */
/* End section three */

/* Start swiper section */
.featureStories .title-viewStory {
  font-family: VIP Hala;
  font-size: 30px;
  font-weight: bold;
  color: #e55451;
  margin-bottom: 3rem;
  position: relative;
}
.featureStories .button button {
  background-color: #e55451;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 3rem;
}
/* End swiper section */
/* End view story page */
/* **************************************************************************************************************/

/* start footer section */
.footer {
  background-image: url(../imgs/footer.svg);
  margin-top: 7rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 480px;
}
.footer .row {
  display: flex;
}
.social-icons a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  transition: 0.3s;
}
.social-icons a:hover {
  color: #ffd700;
}
.footer h5 {
  color: #ffffff;
  font-family: circle;
  font-size: 20px;
}
.siteContent {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.siteContent p {
  color: white;
  margin-top: 2rem;
  line-height: 1.5;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.footer-links a {
  color: white;
  font-family: circle;
  font-size: 24px;
  text-decoration: none;
  transition: 0.3s;
}
.footer-links a:hover {
  text-decoration: underline;
}
.copyright {
  color: white;
  text-decoration: line-through;
  font-weight: lighter;
  margin-top: 20px;
  font-size: 16px;
  opacity: 0.8;
  align-content: center;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .footer {
    background-image: url(../imgs/footer.jpg);
    background-size: cover;
  }
  .footer .row {
    flex-direction: column;
    align-items: center;
  }
  .footer .social,
  .footer .siteContent {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .footer .siteContent {
    margin-top: 2rem;
  }
  .footer-links {
    flex-direction: column;
    align-items: center;
  }
}
/* End footer section */
/* **************************************************************************************************************/

/* Start logIn page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin-top: 6rem;
  margin-bottom: 8rem;
  position: relative;
  z-index: 2;
}
.card-login-box {
  padding-top: 40px;
  width: 500px;
  color: white;
  margin-top: 6rem;
  margin-bottom: 8rem;
  position: relative;
  z-index: 2;
}
.character {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: auto;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.character-right {
  top: 90px;
  right: -240px;
}
.character-right1 {
  top: 60px;
  right: -22px;
  position: absolute;
  z-index: 2;
  width: 32px;
  height: auto;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.character-left1 {
  right: 470px;
  position: absolute;
  z-index: 2;
  width: 25px;
  height: auto;
  bottom: 30px;
  left: -62px;
  transform: translateX(-50%);
}
.character-left {
  bottom: 30px;
  left: -62px;
}
.card-login-box .color {
  background-color: #e55451;
  padding: 35px;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  z-index: 2;
}
.card-login-box h2 {
  font-size: 35px;
  font-family: circle;
}
.card-login-box p {
  font-size: 18px;
  font-family: circle;
  margin-bottom: 15px;
  line-height: 1.5;
  margin-top: 2.5rem;
}
#loginForm {
  background-color: white;
  border-color: #e55451;
  border: solid 1px #e55451;
  border-radius: 0px 0px 30px 30px;
  position: relative;
  z-index: 2;
}
#loginForm input {
  background-color: white;
  width: 80%;
  padding: 10px;
  margin-right: -30px;
  margin: 20px 20px;
  border-radius: 25px;
  font-size: 16px;
  border: solid 1px #e55451;
}
#loginForm button {
  margin: 20px 20px;
  background: #e55451;
  color: white;
  border-radius: 25px;
  border: solid 1px #e55451;
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 40px;
}
#loginForm button:hover {
  background-color: #29cea3;
  border-color: #29cea3;
}
#loginForm .options {
  margin-bottom: 1.5rem;
  font-family: circle;
  font-weight: 400;
  font-size: 14px;
}
.options a {
  text-decoration: none;
  display: block;
  margin: 5px 0;
  color: #0f0f0f;
}
.options a:hover {
  text-decoration: underline;
}
a.new-account {
  text-align: right;
  color: black;
  margin-top: 100px;
  margin-right: 40px;
}
/* End logIn page */
/* **************************************************************************************************************/

/* Start privacy page */
/* Start into section */
.privacy-intro .title {
  color: #29cea3;
  font-family: VIP Hala;
  font-size: 40px;
  font-weight: bolder;
}
.privacy-intro .title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 49%;
  width: 14%;
  height: 13px;
  background-color: #ffc33e;
  opacity: 0.7;
  z-index: -1;
  transform: translateX(-50%);
}
.privacy-intro p {
  font-family: circle;
  font-size: 30px;
  font-weight: 300;
  color: black;
  margin-top: 3rem;
}
/* End into section */

/* Start section two */
.privacy-content {
  opacity: 0;
}
.privacy-content h2 {
  font-family: circle;
  font-size: 30px;
  font-weight: 200;
  color: #e55451;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.privacy-content p {
  font-family: circle;
  font-size: 22px;
  font-weight: 300;
  color: black;
  margin-top: 1rem;
}
.data-list {
  list-style: none;
  padding: 0;
}
.data-list li {
  font-family: circle;
  font-size: 22px;
  font-weight: 300;
  color: black;
  margin-bottom: 8px;
  padding-right: 15px;
  position: relative;
}
.data-list li::before {
  content: "-";
  color: #e55451;
  font-weight: bold;
  position: absolute;
  right: 0;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: circle;
  font-size: 20px;
  font-weight: 300;
  color: #e55451;
  margin-top: 4rem;
}
.custom-checkbox input {
  display: none;
}
.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid #d35d5d;
  border-radius: 50%;
  margin-left: 10px;
  position: relative;
}
.custom-checkbox input:checked + .checkmark::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #d35d5d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End section two */
/* End privacy page */
/* **************************************************************************************************************/

/* Start our services page */
/* Start into section */
.services-intro .title {
  color: #29cea3;
  font-family: VIP Hala;
  font-size: 40px;
  font-weight: bolder;
}
.services-intro .title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 49%;
  width: 11%;
  height: 13px;
  background-color: #ffc33e;
  opacity: 0.7;
  z-index: -1;
  transform: translateX(-50%);
}
.services-intro p {
  font-family: circle;
  font-size: 30px;
  font-weight: 300;
  color: black;
  margin-top: 3rem;
}
/* End into section */

/* Start section two */
.service h2 {
  font-family: circle;
  font-size: 30px;
  font-weight: 400;
  color: #e55451;
  margin-bottom: 1rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 8px;
}
.service h2 img {
  width: 40px;
  height: auto;
}
.service p {
  font-family: circle;
  font-size: 22px;
  font-weight: 200;
  color: black;
  margin-top: 2rem;
}
.service button {
  background-color: #e55451;
  color: white;
  font-size: 14px;
  width: 13%;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 3rem;
  text-align: center;
  transition: background 0.3s ease;
}
.service button:hover {
  background-color: #ffc33e;
}
@media (max-width: 768px) {
  .service button {
    width: 30%;
  }
}
/* End section two */
/* End our services page */
/* **************************************************************************************************************/

/* Start our services page */
/* Start into section */
.services-intro .title {
  color: #29cea3;
  font-family: VIP Hala;
  font-size: 40px;
  font-weight: bolder;
}
.services-intro .title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 49%;
  width: 11%;
  height: 13px;
  background-color: #ffc33e;
  opacity: 0.7;
  z-index: -1;
  transform: translateX(-50%);
}
.services-intro p {
  font-family: circle;
  font-size: 30px;
  font-weight: 300;
  color: black;
  margin-top: 3rem;
}
/* End into section */
/* End our services page */
/* **************************************************************************************************************/

/* Start contact us page */
/* Start into section */
.contact-intro .title {
  color: #29cea3;
  font-family: VIP Hala;
  font-size: 40px;
  font-weight: bolder;
}
.contact-intro .title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 49%;
  width: 11%;
  height: 13px;
  background-color: #ffc33e;
  opacity: 0.7;
  z-index: -1;
  transform: translateX(-50%);
}
.contact-intro p {
  font-family: circle;
  font-size: 30px;
  font-weight: 300;
  color: black;
  margin-top: 3rem;
}
/* End into section */

/* Start form section */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.contact-characters .character {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: auto;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.contact-characters .character-right {
  top: 90px;
  right: -240px;
}
.contact-characters .character-right1 {
  top: 60px;
  right: -25px;
  position: absolute;
  z-index: 2;
  width: 32px;
  height: auto;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.contact-characters .character-left1 {
  right: 420px;
  position: absolute;
  z-index: 2;
  width: 25px;
  height: auto;
  bottom: 30px;
  left: -62px;
  transform: translateX(-50%);
}
.contact-characters .character-left {
  bottom: 30px;
  left: -22px;
}
#contactForm {
  background-color: white;
  border-color: #e55451;
  border: solid 1px #e55451;
  border-radius: 30px;
  width: 90%;
  position: relative;
  z-index: 1;
}
#contactForm input {
  background-color: white;
  width: 80%;
  padding: 10px;
  margin-right: -30px;
  margin-top: 30px;
  border-radius: 25px;
  font-size: 16px;
  border: solid 1px #e55451;
}
#contactForm .message {
  background-color: white;
  width: 80%;
  padding: 10px;
  margin-right: -30px;
  margin-top: 30px;
  border-radius: 25px;
  font-size: 16px;
  border: solid 1px #e55451;
}
#contactForm button {
  margin-top: 30px;
  margin-bottom: 40px;
  background: #e55451;
  color: white;
  border-radius: 25px;
  border: solid 1px #e55451;
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 40px;
}
#contactForm button:hover {
  background-color: #29cea3;
  border-color: #29cea3;
}
/* End form section */

/* Start section three */
.faq-section .faq-title {
  font-family: VIP Hala;
  font-size: 30px;
  color: #e55451;
  font-weight: bold;
  margin-bottom: 3rem;
}
.faq-item h3 {
  font-family: circle;
  font-size: 25px;
  color: #29cea3;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  margin-top: 2.5rem;
}
.faq-item h3 img {
  width: 40px;
  height: auto;
}
.faq-item p {
  font-family: circle;
  font-weight: 300;
  font-size: 22px;
  color: #211c18;
  line-height: 1.5;
}
/* End section three */

/* Start section four */
.privacy h1 {
  font-family: VIP Hala;
  font-size: 30px;
  color: #e55451;
  font-weight: bold;
  margin-bottom: 3rem;
}
.privacy p {
  font-family: circle;
  font-weight: 300;
  font-size: 22px;
  color: #211c18;
  line-height: 1.5;
}
/* End section four */
/* End contacrt us page */
/* **************************************************************************************************************/

/* Start about us page */
/* Start into section */
.aboutUs-intro .title {
  color: #29cea3;
  font-family: VIP Hala;
  font-size: 40px;
  font-weight: bolder;
}
.aboutUs-intro h1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 49%;
  width: 10%;
  height: 13px;
  background-color: #ffc33e;
  opacity: 0.7;
  z-index: -1;
  transform: translateX(-50%);
}
.aboutUs-intro p {
  font-family: circle;
  font-size: 30px;
  font-weight: 300;
  color: black;
  margin-top: 3rem;
}
/* End into section */
/* End about us page */
/* **************************************************************************************************************/

@media (max-width: 991px) {
  .character {
    max-width: 80%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .characters-container {
    display: none;
  }
}
@media (max-width: 768px) {
  .characters-container {
    display: none;
  }
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  width: 40px;
  height: 40px;
  right: 20px;
  border: solid 1px #e55451;
  background: none;
  color: #e55451;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #e55451;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bolder;
  z-index: 999;
}
